[Unit]
Description=A high performance web server and a reverse proxy server
After=network-online.target
Wants=network-online.target
After=webroot-setup.service
Requires=webroot-setup.service

[Service]
Type=forking
PIDFile=/run/nginx.pid
PrivateDevices=yes

ExecStartPre=/usr/bin/cp -n /usr/share/nginx/html/index.html /usr/share/nginx/html/50x.html /var/www/html/
ExecStartPre=/usr/bin/nginx -t
ExecStart=/usr/bin/nginx
ExecReload=/usr/bin/nginx -s reload
ExecStop=/usr/bin/nginx -s stop
KillSignal=SIGQUIT
KillMode=mixed

[Install]
WantedBy=multi-user.target
